.main {
	background: url(../image/album-bg.jpg);
	width: 100%;
  	min-height: 1000px;
  	background-size: 100%;
  	line-height: 1.5em;
    font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: 600;
}
.header-fixed {
	left: 0;   
    top: 0;
    width: 100%;  
    z-index: 100;
    position: fixed;
}
.footer-fixed {
	left: 0;   
    bottom: 0;
    width: 100%;
    height: 50px; 
    z-index: 100;
    position: fixed;
}
.albumlist {
	width: 100%;
	margin-top: 220px;
	min-height: 600px;
	display: inline-block;
}
.albumitem {
	width: 49%;
	height: 140px;
	padding-top: 8px;
	padding-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto auto;
	display: inline-block;
	text-align: center;
}
.imageitem {
	width: 100%;
	height: 125px;
	border: 8px solid #ddd;
	margin: auto auto;
}
.ibutoom {
	width: 100%;
	height: 100%;
	font-size: 23px;
}