.over {
	position: fixed; 
	left:0; 
	top:0; 
	width:100%; 
	z-index:100;
}  
.tempContainer {
	position:fixed; 
	width:100%;
	left: 0;
	z-index:101;
}
.icon {
	text-align:center; 
	z-index:102;
	width:100%;
	font-size: 25px;
	color: red;
	left: 0;   
    bottom: 0;
	position: fixed;
}
.imagelist {
	display: inline-block;
	margin: auto auto; 
}

.imageitem {
	margin: 2px;
	border: 2px solid;
}