<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>主页</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<style type="text/css">
		.wap{
			margin: auto auto;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<img src="../static/image/test.png" alt="...">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="#" class="thumbnail wap">
					<img src="../static/image/test.png" class="img-rounded" alt="...">
				</a>
			</div>
		</div>
	</div>
</body>
</html>