{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>主页</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
	<div class="main">
		<header>
			<img src="{% static 'image/index-title.jpg' %}" alt="..." style="width: 100%;height: 100%;">
		</header>
		<div class="main-row">
			<div class="main-item">
				<a href="{% url 'album' %}" class="thumbnail main-wap">
					<img src="{% static 'image/artbook.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/box.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/certificate.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
		</div>
		<div class="main-row">
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/folder_rainbow_picture.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/loveletter.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/mail.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
		</div>
		<div class="main-row">
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/music.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/musicpicker.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
			<div class="main-item">
				<a href="#" class="thumbnail main-wap">
					<img src="{% static 'image/windmill.png' %}" class="img-rounded" alt="...">
				</a>
			</div>
		</div>
	</div>
</body>
</html>